# 2. Prepare Data

From https://machinelearningmastery.com/process-for-working-through-machine-learning-problems/

I preface data preparation with a data analysis phase that involves summarizing the attributes and visualizing them using scatter plots and histograms. I also like to describe in detail each attribute and relationships between attributes. This grunt work forces me to think about the data in the context of the problem before it is lost to the algorithms

The actual data preparation process is three step as follows:

* Step 1: Data Selection: Consider what data is available, what data is missing and what data can be removed.
* Step 2: Data Preprocessing: Organize your selected data by formatting, cleaning and sampling from it.
* Step 3: Data Transformation: Transform preprocessed data ready for machine learning by engineering features using scaling, attribute decomposition and attribute aggregation.

In [27]:
import numpy as np
import pandas as pd

## Note: data is assumed to be placed in the "data" subdirectory as "data/TrainingSet.csv" and "data/SubmissionRows.csv"
The data directory will be ignored by git

In [28]:
training_data = pd.read_csv("data/TrainingSet.csv")

In [29]:
# Get some basic stats about the training data
training_data.describe()

,Unnamed: 0,1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,1998 [YR1998],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007]
count,195402.000000,6.494500e+04,6.444300e+04,6.496600e+04,6.697300e+04,6.771700e+04,6.973500e+04,6.976300e+04,6.990600e+04,7.525000e+04,...,1.259440e+05,1.308800e+05,1.405470e+05,1.367830e+05,1.403150e+05,1.391590e+05,1.423790e+05,1.615440e+05,1.588880e+05,1.615960e+05
mean,141942.303426,1.630638e+11,1.839488e+11,2.089534e+11,2.148826e+11,2.321517e+11,2.413682e+11,2.540583e+11,2.742810e+11,2.674858e+11,...,7.079045e+11,7.214590e+11,7.396189e+11,8.236331e+11,8.834342e+11,9.691983e+11,1.054572e+12,1.057680e+12,1.203163e+12,1.353147e+12
std,82594.568035,4.261616e+12,4.749746e+12,5.378336e+12,5.647070e+12,6.120314e+12,6.398377e+12,6.710724e+12,7.213662e+12,7.381164e+12,...,1.927225e+13,1.975110e+13,2.055262e+13,2.240717e+13,2.412411e+13,2.612031e+13,2.874833e+13,3.047457e+13,3.469590e+13,4.002108e+13
min,0.000000,-1.047939e+14,-1.128889e+14,-7.134161e+13,-8.269588e+13,-9.735652e+13,-9.433422e+13,-9.495898e+13,-5.362479e+13,-5.649790e+13,...,-1.014742e+14,-9.646140e+13,-9.216180e+13,-6.621060e+13,-5.635700e+13,-1.853552e+14,-1.515222e+14,-1.350005e+14,-1.422689e+14,-1.691820e+14
25%,70571.250000,3.176702e+00,3.550009e+00,4.000000e+00,3.671917e+00,4.595300e+00,5.000000e+00,4.901495e+00,5.000000e+00,5.682373e+00,...,4.902281e+00,5.264969e+00,5.304083e+00,5.249579e+00,5.269189e+00,5.500000e+00,5.460000e+00,5.206670e+00,5.206982e+00,5.000000e+00
50%,141554.500000,6.394000e+01,6.631737e+01,7.048563e+01,7.188613e+01,7.456354e+01,7.894462e+01,7.863808e+01,8.140866e+01,8.182969e+01,...,6.423599e+01,6.570000e+01,6.270796e+01,6.391600e+01,6.330000e+01,6.452287e+01,6.290620e+01,5.737856e+01,5.547417e+01,5.504303e+01
75%,211984.750000,5.007000e+06,7.131000e+06,9.250000e+06,1.108200e+07,1.290000e+07,1.540950e+07,1.922850e+07,2.409375e+07,2.419225e+07,...,1.870445e+07,1.300000e+07,6.544000e+06,1.038850e+07,9.278000e+06,1.200000e+07,1.066050e+07,8.484250e+06,1.025022e+07,8.599101e+06
max,286117.000000,2.681335e+14,2.943467e+14,3.186506e+14,3.383541e+14,3.586152e+14,3.895869e+14,4.254506e+14,4.556262e+14,5.039050e+14,...,1.348416e+15,1.324599e+15,1.389770e+15,1.646322e+15,1.821833e+15,2.013675e+15,2.295826e+15,2.774281e+15,3.339217e+15,3.950893e+15

In [30]:
# Looks at the first few lines to get an idea what the actual data looks like
training_data.head()

,Unnamed: 0,1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],Country Name,Series Code,Series Name
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.769214,Afghanistan,allsi.bi_q1,(%) Benefits held by 1st 20% population - All ...
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.027746,Afghanistan,allsp.bi_q1,(%) Benefits held by 1st 20% population - All ...
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.244887,Afghanistan,allsa.bi_q1,(%) Benefits held by 1st 20% population - All ...
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.933105,Afghanistan,allsi.gen_pop,(%) Generosity of All Social Insurance
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.996814,Afghanistan,allsp.gen_pop,(%) Generosity of All Social Protection

In [31]:
# same for last few lines
training_data.tail()

,Unnamed: 0,1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],Country Name,Series Code,Series Name
195397,286113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.2,NaN,Zimbabwe,SG.VAW.BURN.ZS,Women who believe a husband is justified in be...
195398,286114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.0,NaN,Zimbabwe,SG.VAW.GOES.ZS,Women who believe a husband is justified in be...
195399,286115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30.2,NaN,Zimbabwe,SG.VAW.NEGL.ZS,Women who believe a husband is justified in be...
195400,286116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24.3,NaN,Zimbabwe,SG.VAW.REFU.ZS,Women who believe a husband is justified in be...
195401,286117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.0,57.2,57.5,57.7,57.9,58.1,58.3,Zimbabwe,SH.DYN.AIDS.FE.ZS,Women's share of population ages 15+ living wi...

In [32]:
# What column names do we have
training_data.columns

Index(['Unnamed: 0', '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]',
       '1975 [YR1975]', '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]',
       '1979 [YR1979]', '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]',
       '1983 [YR1983]', '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]',
       '1987 [YR1987]', '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]',
       '1991 [YR1991]', '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', 'Country Name', 'Series Code', 'Series Name'],
      dtype='object')

In [33]:
# Find unique countries
training_data['Country Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Ethiopia', 'Faeroe Islands', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao SAR, China',
       'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [35]:
print ("Number of distinct countries {}".format(len(training_data['Country Name'].unique())))

Number of distinct countries 214

In [36]:
# Pandas can also tell us how many unique values are in each column
training_data.nunique()

Unnamed: 0       195402
1972 [YR1972]     47534
1973 [YR1973]     47677
1974 [YR1974]     48521
1975 [YR1975]     50269
1976 [YR1976]     51279
1977 [YR1977]     53185
1978 [YR1978]     53578
1979 [YR1979]     53882
1980 [YR1980]     58032
1981 [YR1981]     59693
1982 [YR1982]     60516
1983 [YR1983]     60615
1984 [YR1984]     61088
1985 [YR1985]     62170
1986 [YR1986]     62726
1987 [YR1987]     63482
1988 [YR1988]     63814
1989 [YR1989]     65248
1990 [YR1990]     78732
1991 [YR1991]     77506
1992 [YR1992]     80642
1993 [YR1993]     81969
1994 [YR1994]     83600
1995 [YR1995]     88951
1996 [YR1996]     89206
1997 [YR1997]     90177
1998 [YR1998]     90256
1999 [YR1999]     94957
2000 [YR2000]     99186
2001 [YR2001]     99397
2002 [YR2002]    102167
2003 [YR2003]    101224
2004 [YR2004]    102863
2005 [YR2005]    111682
2006 [YR2006]    112989
2007 [YR2007]    115182
Country Name        214
Series Code        1305
Series Name        1305
dtype: int64

In [37]:
# read the data containing the rows we need to predict
submission_rows = pd.read_csv('data/SubmissionRows.csv')

In [17]:
submission_rows.describe()

          Unnamed: 0  2008 [YR2008]  2012 [YR2012]
count     737.000000            0.0            0.0
mean   142507.362280            NaN            NaN
std     82711.218777            NaN            NaN
min       559.000000            NaN            NaN
25%     70277.000000            NaN            NaN
50%    142475.000000            NaN            NaN
75%    213142.000000            NaN            NaN
max    285811.000000            NaN            NaN

In [18]:
submission_rows.nunique()

Unnamed: 0       737
2008 [YR2008]      0
2012 [YR2012]      0
dtype: int64

In [41]:
# The 'Unnamed: 0' columns are really row IDs so let's rename them to make things clearer
training_data.rename(columns={'Unnamed: 0':'row_id'}, inplace=True)
submission_rows.rename(columns={'Unnamed: 0':'row_id'}, inplace=True)

In [42]:
# pandas can generate a series containing True at each location where both files have values for a row
rows_present_in_training_and_submission = training_data['row_id'].isin(submission_rows['row_id'])

In [43]:
joined.describe()

count     195402
unique         2
top        False
freq      194665
Name: Unnamed: 0, dtype: object

In [44]:
joined.value_counts()

False    194665
True        737
Name: Unnamed: 0, dtype: int64

In [45]:
# Select only the roes from the training data that have row IDs matching the submission data
joined_data = training_data[rows_present_in_training_and_submission]

In [46]:
joined_data.describe()

,row_id,1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,1998 [YR1998],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007]
count,737.000000,172.000000,170.000000,170.000000,179.000000,186.000000,192.000000,195.000000,200.000000,201.000000,...,675.000000,701.000000,714.000000,713.000000,715.000000,713.000000,713.000000,726.000000,725.000000,737.000000
mean,142507.362280,0.219937,0.207817,0.203128,0.189418,0.198788,0.203314,0.195784,0.201251,0.193704,...,0.263330,0.286637,0.302485,0.306344,0.318082,0.327260,0.334718,0.343434,0.352864,0.361211
std,82711.218777,0.263087,0.253884,0.256467,0.247787,0.264639,0.269425,0.260019,0.274549,0.272135,...,0.363003,0.374184,0.378456,0.378707,0.381181,0.383393,0.383628,0.385937,0.387891,0.390645
min,559.000000,0.012200,0.011600,0.010900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000004,0.000002,0.000059,0.000003,0.000000,0.000170,0.000170,0.000100,0.000120,0.000060
25%,70277.000000,0.056925,0.053775,0.050825,0.043250,0.040950,0.039575,0.037150,0.034100,0.030800,...,0.007000,0.008454,0.011800,0.012400,0.015100,0.015300,0.015500,0.016800,0.018000,0.018000
50%,142475.000000,0.132700,0.127250,0.119350,0.107400,0.109250,0.108100,0.106900,0.102450,0.094700,...,0.041400,0.052700,0.070743,0.076123,0.085181,0.092325,0.102600,0.112400,0.120000,0.123700
75%,213142.000000,0.237075,0.228500,0.221250,0.213350,0.213675,0.217850,0.208500,0.210875,0.199100,...,0.533000,0.610000,0.663500,0.668000,0.703350,0.752000,0.744000,0.770868,0.794000,0.802000
max,285811.000000,0.999836,0.991109,0.992353,0.997470,0.999596,0.999627,0.999718,0.999843,0.999532,...,1.000000,0.999986,0.999702,0.999746,0.999751,0.999956,0.999657,0.999986,0.999762,0.999992